@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Oswald', sans-serif !important;
}

/* left section css */

.column-block{
    display: flex;
    flex-wrap: wrap;
}

.left-column-block{
    text-align: center;
    left: 0;
    position: fixed;
    width: 50%;
    overflow: hidden;
}

.header{
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: 100vh;
}

.header .content{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10%;
    margin: 0 auto;
    width: 100%;
}

.header .content h1{
    margin: 0;
    font-size: 35px;
    color: rgb(250, 250, 255);
    line-height: 1;
    font-family: 'Times New Roman';
}

.header .content p{
  font-size: 20px;
  color: rgb(207, 241, 207);  
}

.header .content .social-icon{
    margin: 0;
    padding: 0;
    display: block;
}

.header .content .social-icon li{
    display: inline-block;
    margin: 0 2px;
}
.header .content .social-icon li a{
    height: 40px;
    color: #ffffff;
    width: 40px;
    font-size: 20px;
    display: block;
    border: 2px solid gray;
    border-radius: 100%;
    line-height: 35px;

}

.header .content .social-icon li a:hover{
    border-color: blueviolet;
}


/* Right section css */

.right-column-block{
    right: 0;
    position: absolute;
    width: 50%;
}

.section-wrapper{
    padding: 30px;
}

.section-title{
    font-family: 'Times New Roman';
    color: darkblue;
    margin-bottom: 15px;
}

.expertise-item{
    margin-bottom: 20px;
}

.expertise-item h4{
    font-family: 'Times New Roman';
}


.section-header{
    margin-bottom: 20px;
    font-family: 'Times New Roman';
}

.carousel-item img{
    height: 350px;
    width: 400px;
}

.control-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    padding: 0 20px !important;
    height: 40px !important;
    font-size: 18px !important;
    border: 1px solid #888888 !important;
    border-radius: 0% !important;
}

.btn{
    text-transform: uppercase;
    font-weight: bolder !important;
}

.footer-section{
    padding: 30px 50px;
    font-size: 13px;
    color: #7777;
}

.footer .copyright{
    font-weight: 800;
    display: block;
    text-align: center;
}

.background{
    background-color: #f9f9f9;
}

.header .profile-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/RK.jpg");
    background-size: cover;
    z-index: -1;
}

.header .profile-image:before{
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image:repeating-linear-gradient(160deg,transparent 10%,rgb(248, 209, 157))
}


@media(max-width: 600px){
    .left-column-block{
        width: 100%;
        position: relative;
    }
    .right-column-block{
        width: 100%;
        position: relative;
    }
}